<div class="row menu">
  <input type="checkbox" id="hamburg">
  <label for="hamburg" class="hamburg">
    <%= image_tag 'logo_300.png', alt: 'logo', class: 'logo'%>
    <%# <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span> %>
    <ul class="hidden-menu">
      <% if params["action"] == "home" %>
        <li> <%= link_to "Submissions", submissions_path, class: "no-style" %></li>
        <li> <%= link_to "About Us", about_path, class: "no-style" %></li>
      <% elsif params["action"] == "homecn" %>
        <li> <%= link_to "æäº¤å½±ç‰‡", submissionscn_path, class: "no-style" %></li>
        <li> <%= link_to "å…³äºŽæˆ‘ä»¬", aboutcn_path, class: "no-style" %></li>
      <% elsif params["action"] == "submissions" %>
        <li> <%= link_to "About Us", about_path, class: "no-style" %></li>
        <li> <%= link_to "Home", root_path, class: "no-style" %></li>
      <% elsif params["action"] == "submissionscn" %>
        <li> <%= link_to "å…³äºŽæˆ‘ä»¬", aboutcn_path, class: "no-style" %></li>
        <li> <%= link_to "é¦–é¡µ", homecn_path, class: "no-style" %></li>
      <% elsif params["action"] == "submissionsde" %>
        <li> <%= link_to "Ãœber uns", aboutde_path, class: "no-style" %></li>
        <li> <%= link_to "Home", homede_path, class: "no-style" %></li>
      <% elsif params["action"] == "about" %>
        <li> <%= link_to "Submissions", submissions_path, class: "no-style" %></li>
        <li> <%= link_to "Home", root_path, class: "no-style" %></li>
      <% elsif params["action"] == "aboutcn" %>
        <li> <%= link_to "æäº¤å½±ç‰‡", submissionscn_path, class: "no-style" %></li>
        <li> <%= link_to "é¦–é¡µ", homecn_path, class: "no-style" %></li>
      <% elsif params["action"] == "aboutde"%>
        <li> <%= link_to "Einreichungen", submissionsde_path, class: "no-style" %></li>
        <li> <%= link_to "Home", homede_path, class: "no-style" %></li>
      <% elsif params["action"] == "qrcode" %>
        <li> <%= link_to "Home", root_path, class: "no-style" %></li>
        <li> <%= link_to "Submissions", submissions_path, class: "no-style" %></li>
        <li> <%= link_to "About Us", about_path, class: "no-style" %></li>
      <% else %>
        <li> <%= link_to "Einreichungen", submissionsde_path, class: "no-style" %></li>
        <li> <%= link_to "Ãœber uns", aboutde_path, class: "no-style" %></li>
      <% end %>
    </ul>
  </label>
</div>
<div class="language-toggle">
  <div class="language-inline">
    <% if params["action"] == "home" %>
      <div>
        <h3><%= link_to "ðŸ‡¨ðŸ‡³", homecn_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡©ðŸ‡ª", homede_path, class: "no-style flags" %></h3>
      </div>
    <% elsif params["action"] == "homecn" %>
      <div>
        <h3><%= link_to "ðŸ‡¬ðŸ‡§", root_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡©ðŸ‡ª", homede_path, class: "no-style flags" %></h3>
      </div>
    <% elsif params["action"] == "submissions"%>
      <div>
        <h3><%= link_to "ðŸ‡¨ðŸ‡³", submissionscn_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡©ðŸ‡ª", submissionsde_path, class: "no-style flags" %></h3>
      </div>
    <% elsif params["action"] == "submissionscn" %>
      <div>
        <h3><%= link_to "ðŸ‡¬ðŸ‡§", submissions_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡©ðŸ‡ª", submissionsde_path, class: "no-style flags" %></h3>
      </div>
    <% elsif params["action"] == "submissionsde" %>
      <div>
        <h3><%= link_to "ðŸ‡¬ðŸ‡§", submissions_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡¨ðŸ‡³", submissionscn_path, class: "no-style flags" %></h3>
      </div>
    <% elsif params["action"] == "about"%>
      <div>
        <h3><%= link_to "ðŸ‡¨ðŸ‡³", aboutcn_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡©ðŸ‡ª", aboutcn_path, class: "no-style flags" %></h3>
      </div>
    <% elsif params["action"] == "aboutcn"%>
      <div>
        <h3><%= link_to "ðŸ‡¬ðŸ‡§", about_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡©ðŸ‡ª", aboutde_path, class: "no-style flags" %></h3>
      </div>
    <% elsif params["action"] == "aboutde"%>
      <div>
        <h3><%= link_to "ðŸ‡¨ðŸ‡³", aboutcn_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡¬ðŸ‡§", about_path, class: "no-style flags" %></h3>
      </div>
    <% elsif  params["action"] == "qrcode"%>
      <div>
        <%# <h3><%= link_to "ðŸ‡¨ðŸ‡³", homecn_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <%# <h3><%= link_to "ðŸ‡©ðŸ‡ª", homecn_path, class: "no-style flags" %></h3>
      </div>
    <% else %>
      <div>
        <h3><%= link_to "ðŸ‡¨ðŸ‡³", homecn_path, class: "no-style flags" %></h3>
      </div>
      <div>
        <h3><%= link_to "ðŸ‡¬ðŸ‡§", root_path, class: "no-style flags" %></h3>
      </div>
    <% end %>
  </div>
</div>
